John T.H. Wong
Hardware: Macbook Air, M1, 2020
OS: MacOS 15.3.2
SDE: VS Code, 1.98.2 (Universal)

In [1]:
from bi_exchange_module import *

uniform_exclusive(0, 1)
generate_crs_elasticities(5)

agent = Agent(2, 10, True)
# agent.get_inventory()
agent.get_pref(1)

0.6606357241605114

In [2]:
agent.get_inventory(1)

11

In [3]:
agent = Agent(3, 10, True)
agent.get_inventory(1)

2

In [4]:
market = Market()
market.generate_agents(50, 10, 20, False)
market.clear_transactions()
market.execute_exchange(100, 0.8)

FigureWidget({
    'data': [{'marker': {'color': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                         'colorbar': {'title': {'text': 'Agent Index'}},
                         'colorscale': [[0.0, '#440154'], [0.1111111111111111,
                                        '#482878'], [0.2222222222222222,
                                        '#3e4989'], [0.3333333333333333,
                                        '#31688e'], [0.4444444444444444,
                                        '#26828e'], [0.5555555555555556,
                                        '#1f9e89'], [0.6666666666666666,
                                        '#35b779'], [0.7777777777777778,
                                        '#6ece58'], [0.8888888888888888,
                                        '#b5de2b'], [1.0, '#fde725']],
                         'showscale': True,
                         'size': 12},
              'mode': 'markers+text',
              'text': [Agent 0, Agent 1, Agent 2, Agent 3, Agent 4, Agent 5, Agent
                       6, Agent 7, Agent 8, Agent 9],
              'textposition': 'top center',
              'type': 'scatter',
              'uid': 'db9f2c22-162b-4e56-b23f-a0c9abc1b5c1',
              'x': [8, 10, 6, 1, 5, 3, 8, 10, 4, 4],
              'y': [18, 10, 49, 9, 14, 15, 15, 2, 3, 1]}],
    'layout': {'hovermode': 'closest',
               'template': '...',
               'title': {'text': "First 10 Agents' Inventory of Goods 0 and 1"},
               'xaxis': {'title': {'text': 'Good 0 Inventory'}},
               'yaxis': {'title': {'text': 'Good 1 Inventory'}}}
})

In [5]:
df = market.transactions_to_dataframe("good")
df

        0    1    2    3    4    5    6    7    8    9
0       1    0    0    0    0    0    1    0    0    0
1       1    0    0    0    0    0    2    0    0    1
2       1    0    0    0    0    0    2    1    0    2
3       1    0    0    1    0    1    2    1    0    2
4       1    0    1    1    0    1    2    2    0    2
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2185  407  481  459  343  401  398  445  513  490  435
2186  408  482  459  343  401  398  445  513  490  435
2187  408  483  459  343  401  398  445  513  491  435
2188  409  484  459  343  401  398  445  513  491  435
2189  409  485  459  343  401  398  445  513  492  435

[2190 rows x 10 columns]

In [6]:
df2 = market.transactions_to_dataframe("agent")
df2

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2185,91,83,94,99,114,69,88,58,69,97,...,98,102,121,132,124,72,101,64,115,125
2186,91,83,94,99,114,69,88,58,69,97,...,98,102,121,132,124,72,101,64,115,125
2187,91,83,94,99,114,69,88,58,69,97,...,98,102,121,132,124,72,101,64,115,125
2188,91,83,94,99,114,69,88,58,69,97,...,98,102,121,132,124,72,101,64,115,125
2189,91,83,94,99,114,69,88,58,69,97,...,98,102,121,132,124,72,101,64,115,126